body {
  background-color: #1e1e2f;
  color: #e0e0e0;
  font-family: 'Poppins', sans-serif;
}

form {
  background-color: #2e2e3e;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

h2 {
  margin-top: 40px;
  font-size: 24px;
  color: #ffffff;
}

.list {
  display: flex;
  gap: 40px;
  justify-content: center;
  margin-top: 20px;
  flex-wrap: wrap;
}

.list span {
  display: block;
  margin: 4px 0;
}

.list a {
  color: #4dabf7;
  font-weight: 500;
  text-decoration: none;
}

.list a:hover {
  text-decoration: underline;
  color: #82caff;
}

button {
  background-color: #4dabf7;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 10px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button:hover {
  background-color: #339af0;
}
.label{
  color: white !important;
}
.fields{
  border: 1px solid white !important;
  color: white !important;
}